.services-title {
  text-align: center;
}

.services-discalimer {
  text-align: center;
  font-size: 11px;
  margin-top: 5px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media(max-width: 1259px) {
  .services {
    justify-content: center;
  } 
}