.service {
  max-width: 373px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}


.service-image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.service-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.service-image-wrapper::after {
  content: '';
  display: block;
  padding-bottom: 50%;
}

.service-title {
  margin-top: 10px;
  color: #9c8c58;
}

.service-description {
  margin-top: 10px;
}

.service-cost {
  margin-top: 10px;
}

@media(min-width: 1260px) {

  .service:nth-child(3n + 1) {
    margin-left: 0;
  }

  .service:nth-child(n + 4) {
    margin-top: 40px;
  }
}

@media(max-width: 1259px) and (min-width: 872px){
  .service {
    max-width: 390px;
  }

  .service:nth-child(n + 3) {
    margin-top: 40px;
  }

  .service:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media(max-width: 871px) {
  .service {
    max-width: 500px;
    margin-left: 0;
  }

  .service:not(:first-child) {
    margin-top: 40px;
  }
}
