.icon1 {
  fill:#9c8b58;
  fill-opacity:1;
}

header {
  padding: 10px 25px;
  width: calc(100% - 50px);
  position: fixed;
  top: 0;
  left: 0;
  background: #FAF9F6;
  z-index: 999;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.header-title-text {
  margin-left: 20px;
}

.title-logo {
  width: 60px;
  overflow: visible;
}

.title-logo.animated path {
  animation: .2s ease-in-out lotus-bounce-out;
  transform-origin: bottom;
}

.title:hover .title-logo.animated path {
  animation: .3s ease-in-out lotus-bounce-in;
  animation-fill-mode: forwards;
}

.title-text {
  font-size: 22px;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-item:not(:first-child) {
  margin-left: 30px;
}

.nav-item-link {
  text-decoration: none;
  color: black;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

.nav-item-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  background-color: black;
  height: 1px;
}

.nav-menu-mobile-wrapper {
  display: flex;
  align-items: center;
}

.booknow-btn {
  padding: 10px 20px;
  background-color: #9c8b58;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

@keyframes lotus-bounce-in {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1.1);
  }
}

@keyframes lotus-bounce-out {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.1);
  }
}

@media(min-width: 967px) {
  .booknow-btn {
    margin-left: 30px;
    transition: background-color 0.3s ease-in-out;
  }

  .booknow-btn-mobile {
    display: none;
  }

  .booknow-btn:hover {
    background-color: rgb(156, 139, 88, 0.9);
  }

  .nav-menu-mobile-wrapper {
    display: none;
  }

  .nav-item:hover .nav-item-link::after {
    transform: scaleX(1);
  }
}

@media(max-width: 968px) {
  .booknow-btn-desktop {
    display: none;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
  }

  .nav-items {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  .nav-item:not(:first-child) {
    margin-left: 0;
    margin-top: 40px;
  }

  .nav-menu.nav-menu-open {
    max-height: 326px;
  }

  .booknow-btn {
    margin-right: 30px;
  }
}