.environ-title {
  text-align: center;
}

.environ-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.environ-content {
  max-width: 600px;
}

.environ-description {
  margin-top: 20px;
}

.environ-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  margin-left: 20px;
}

.environ-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.environ-image-wrapper::after {
  content: '';
  display: block;
  padding-bottom: 87%;
}